@font-face {
    font-family: omg;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: omg;
    font-weight: 100;
    src: url(./NeueHaasDisplayLightItalic.ttf);
}


@font-face {
    font-family: omg;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: omg;



}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: black; */
    z-index: 100;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2.8vw;
}

nav {
    padding: 1.3vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}


#nav-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4vw;
}

#nav-p2 h4 {
    text-decoration: none;
    position: relative;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.51);
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    transition: all ease 0.4s;
    overflow: hidden;


}

#nav-p2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 50%;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
}


#nav-p2 h4:hover::after {
    bottom: 0;
    border-radius: 0;

}

#nav-p2 h4 a {
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;

}

#nav-p2 h4:hover a {
    color: #fff;
}

#center {
    height: 80vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3.3vw;

}

#left h3 {
    width: 28vw;
    font-size: 2vw;
    line-height: 2.1vw;


}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;


}

#page1 video {
    border-radius: 15px;
    margin-top: 3.6vw;
    width: 100%;
    position: relative;
}

#heroShape {
    position: absolute;
    width: 46vw;
    height: 30vw;
    right: 0;
    top: 85vh;


}

#hero1 {
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#ff2f05, #fe570a);
    border-radius: 50%;
    animation-name: aniime22;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(10px);
    position: absolute;
}

#hero3 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fe570a);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: aniime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes aniime {
    from {
        transform: translate(55%, -10%);
    }
}

to {
    transform: translate(7%, 10%);
}

@keyframes aniime22 {
    from {
        transform: translate(15%, 8%);
    }
}

to {
    transform: translate(-20%, 30%);
}


#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
}

#mov-txt {

    white-space: nowrap;
    overflow-x: auto;
}

#mov-txt::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: movee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;



}

#mov-txt h1 {
    font-size: 9vw;
    display: inline-block;


}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 2vw;

}


@keyframes movee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#page2-botm {
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-botm h1 {
    font-size: 4.2vw;
    width: 63%;
    line-height: 4vw;
}

#bp2 {
    width: 22%;

    margin-top: 11vw;

}

#bp2 img {
    width: 100%;
    border-radius: 20px;

}

#bp2 p {
    font-weight: 200;
    margin-top: 3vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background-color: #fe320a;
    background: linear-gradient(to top right, #ff3107, #ff671b);
    top: 58%;
    left: 25%;
    filter: blur(20px);

    animation-name: gooyey;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes gooyey {
    from {
        filter: blur(20px);

        transform: translate(15%, -18%) skew(0);
    }
}

to {
    filter: blur(30px);

    transform: translate(-10%, 10%) skew(-16deg);
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 5vw 0;
}

#sec1 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 3vw, 2vw;
}

#mol {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fe330a;
    margin-left: 1.5vw;
    margin-bottom: 3vw;
}

#sec1 p {
    display: block;
    font-weight: 200;
    margin-bottom: 3vw;

}

.elem {
    height: 122px;
    width: 100%;
    position: relative;
    /* background-color: red; */
    border-bottom: 1px solid #5757573c;
    display: flex;
    align-items: center;
    padding: 0 2VW;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    z-index: 99;

}

.elem .overly {

    height: 100%;
    width: 100%;
    /* background-color: orange; */
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overly {
    top: 0;
}


#fixed-img {
    height: 29vw;
    width: 24vw;

    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 18%;
    display: none;
    background-size: cover;
    background-position: center;

}

#page4 {
    min-height: 60vh;
    width: 100%;
    background-color: #efeae3;
    padding: 10vw 2vw;

}
.swiper {
    width: 100%;
    height: 80%;
    cursor: grab;

}
.swiper-slide {
    width: 25%;
    height: 40vh;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;

}

.swiper-slide img{
    margin-bottom: 1.3vw;
}

.swiper-slide p{
    font-weight: 200;
    font-size: 1.08vw;
     color: #2a2929f4;

}

#page5 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #9d8666; */

}

#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: -1;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 2.8vw;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    width: 100%;
    height: 80vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
}

#fo-left {
    width: 50%;
}

#fo-left h2 {
    font-size: 2vw;
    font-weight: 700;

}

#fo-right {
    width: 30%;
    padding-right: 4vw;
    gap: 1.5vw;
    display: flex;
    flex-direction: column;

}

#fo-right p {

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    margin-bottom: 1vw;
    font-weight: 100;
    letter-spacing: 2px;
}

#fo-right h6 {


    font-size: 1.2vw;
    font-weight: 200;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;


}

#footer-bottom {
    border-top: 1px solid #848484ca;
    height: 20vh;
    width: 100%;
    padding: 0.4vw 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#footer-bottom h5 {
    font-weight: 200;
    font-size: 1vw;
    font-size: 1.1vw;

}

#footer #shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 80%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

#footer #shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 80%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes shape1 {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(-20deg);
    }
}

@keyframes shape2 {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(45deg);
    }
}